.row {
  margin: 0;
}

.loadingcover {
  position: fixed;
  z-index: 99999999999;
  background: dodgerblue;
  width: 100vw;
  height: 100vh;
}

.livelogdiv {
  background-image: linear-gradient(to right, rgba(255, 75, 44, 1), rgba(30, 144, 255, 0));
  height: 49vh;
  width: 70vw;
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
}

.lalogheading {
  font-size: 10vw;
  font-family: trebuchet MS, sans-serif;
  font-style: italic;
  margin-left: 1%;
}

.livelog {
  margin-left: 4%;
  height: 37vh;
  width: 35vw;
}

@media screen and (max-width: 750px) {
  .livelogdiv {
    margin-top: 4vh;
    margin-bottom: 3vh;
    height: 20vh;
  }

  .livelog {
    height: 20vh;
    width: 60vw;
    margin-left: 8%;
  }
}

.sideverticalbar {
    position: fixed;
    background: SlateBlue;
    z-index: 9;
    opacity: 0.94;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .removescroll {
    overflow: hidden;
  }

  .sideverticalbarcontent {
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    height: 40%;
  }

  .link {
    text-decoration: none;
    color: black;
  }
  
  .link:hover {
    color: rgb(255, 75, 44);
    text-decoration: none;
    cursor: pointer;
  }
  
  .pagelinkbuttons {
    margin-top: 10%;
    font-size: 175%;
    font-family: "trebuchet MS", sans-serif;
    height: 23%;
  }
  
  .closebuttondiv {
    z-index: 9;
    padding-bottom: 94vh;
    padding-left: 90%;
    margin-right: 0px;
    display: flex;
  }
  
  .horizontalbar {
    padding-left: 3%;
    height: 11vh;
    background-color: rgb(255, 88, 60);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100vw;
  }
  
  .content {
    padding-left: 2.987654321%;
    padding-right: 2.987654321%;
    padding-top: 5%;
    font-size: 28px;
    background-color: DodgerBlue;
  }
  
  .sticky+.content {
    padding-top: 15vh;
  }
  
  .menubutton {
    width: 40.5px;
    height: 52%;
  }
  
  .threebarsimg {
    width: 98%;
    height: 98%;
    padding: 0;
  }
  
  .barheading {
    padding-left: 2%;
  }

  .page-full-div {
    position: absolute;
    background-color: rgb(30, 144, 255);
    padding: 0;
    height: 100vh;
    width: 100vw;
  }
  
  body {
    overflow-x: hidden;
  }
  .body {
    position: absolute;
  }

  footer {
    background-color: rgb(59, 47, 64);
    color: aliceblue;
    display: flex;
    justify-content: center;
  }

  footer > div{    
    display: flex;
    justify-content: center;
  }