.upper-half {
  height: 100vh;
  margin-bottom: 0;
}

.photoandname {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 5vw;
}

.myname {
  font-size: 11vh;
}

.abel {
  font-family: Georgia, serif;
}

.george {
  font-family: Candara, Calibri, Segoe, “Segoe UI”, Optima, Arial, sans-serif;
}

.antony {
  font-family: “Courier New”, Courier, “Lucida Sans Typewriter”, “Lucida Typewriter”, monospace;
}

.firstshortintro {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  margin-bottom: 6vh;
}

.secondshortintro {
  padding-top: 4%;
  padding-bottom: 2%;
}


@media screen and (max-width: 750px) {
  .photoandname {
    padding: 0;
  }

  .firstshortintro {
    margin-top: 1vh;
    margin-bottom: 2vh;
  }
}



.short-intro-div {
  padding-left: 4%;
}


.waypoints-container {
  display: flex;
  flex-direction: column;
}
.topofwpheight {
  height: 10vh;
}
.wpheading {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  background-color: rgb(42, 54, 61);
  color: rgb(241, 224, 200);
}

.wpcontent {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  background-color: rgb(241, 224, 200);
  color: rgb(42, 54, 61);
}

.wpheading:hover {
  cursor: pointer;
}

.makeitsmall {
  font-size: 0;
  z-index: -999;
  height: 0;
  width: 0;
}

.skillsdiv {
  & .heading {
    margin-bottom: 0;
  }
}

.skillscontainer {
  background-color: rgb(113, 189, 255);
  display: flex;
  flex-direction: column;
  border: 0;
  border-top-left-radius: 20%;
  border-bottom-right-radius: 70%;
}
.skillrow {
  display: flex;
  flex-direction: row;
}
.skillcell {
  margin: 5%;
  height: 10vh;
  width: 40vw;
  color: rgb(241, 224, 200);
  background-color: rgb(42, 54, 61);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 9%;
}
