.row {
  margin: 0;
}


.loadingcover {
  position: fixed;
  z-index: 99999999999;
  background: dodgerblue;
  width: 100vw;
  height: 100vh;
}

.body {
  position: absolute;
}

.upper-half {
  height: 100vh;
  margin-bottom: 0;
}

.photoandname {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 5vw;
}

.myname {
  font-size: 11vh;
}

.abel {
  font-family: Georgia, serif;
}

.george {
  font-family: Candara, Calibri, Segoe, “Segoe UI”, Optima, Arial, sans-serif;
}

.antony {
  font-family: “Courier New”, Courier, “Lucida Sans Typewriter”, “Lucida Typewriter”, monospace;
}

.firstshortintro {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  margin-bottom: 6vh;
}

.secondshortintro {
  padding-top: 4%;
  padding-bottom: 2%;
}

.livelogdiv {
  background-image: linear-gradient(to right, rgba(255, 75, 44, 1), rgba(30, 144, 255, 0));
  height: 49vh;
  width: 70vw;
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
}

.lalogheading {
  font-size: 10vw;
  font-family: trebuchet MS, sans-serif;
  font-style: italic;
  margin-left: 1%;
}

.livelog {
  margin-left: 4%;
  height: 37vh;
  width: 35vw;
}

@media screen and (max-width: 750px) {
  .livelogdiv {
    margin-top: 4vh;
    margin-bottom: 3vh;
    height: 20vh;
  }

  .livelog {
    height: 20vh;
    width: 60vw;
    margin-left: 8%;
  }

  .photoandname {
    padding: 0;
  }

  .firstshortintro {
    margin-top: 1vh;
    margin-bottom: 2vh;
  }
}



.short-intro-div {
  padding-left: 4%;
}

.sideverticalbar {
  position: fixed;
  background: SlateBlue;
  z-index: 9;
  opacity: 0.94;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.removescroll {
  overflow: hidden;
}


.sideverticalbarcontent {
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  height: 40%;
}

.contactinput {
  border-radius: 8px;
}

.linkicon {
  height: 4vw;
  width: 4vw;
}

.contactlinks {
  width: 53vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: rgb(255, 75, 44);
  text-decoration: none;
  cursor: pointer;
}

.pagelinkbuttons {
  margin-top: 10%;
  font-size: 175%;
  font-family: "trebuchet MS", sans-serif;
  height: 23%;
}

.closebuttondiv {
  z-index: 9;
  padding-bottom: 94vh;
  padding-left: 90%;
  margin-right: 0px;
  display: flex;
}

.horizontalbar {
  padding-left: 3%;
  height: 11vh;
  background-color: rgb(255, 88, 60);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
}
.alignwp {
  top: 0;
}

.content {
  padding-left: 2.987654321%;
  padding-right: 2.987654321%;
  padding-top: 5%;
  font-size: 28px;
  background-color: DodgerBlue;
}

.sticky+.content {
  padding-top: 15vh;
}

.menubutton {
  width: 40.5px;
  height: 52%;
}

.threebarsimg {
  width: 98%;
  height: 98%;
  padding: 0;
}

.barheading {
  padding-left: 2%;
}


.page-full-div {
  position: absolute;
  background-color: rgb(30, 144, 255);
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  overflow-x: hidden;
}

.contentseperation {
  margin-left: 10%;
  height: 70vh;
  width: 4px;
  background-color: rgb(255, 88, 60);
}

.content-contactpage {
  display: flex;
}






.waypoints-container {
  display: flex;
  flex-direction: column;
}

.wpheading {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  background-color: rgb(42, 54, 61);
  color: rgb(241, 224, 200);
}

.wpcontent {
  height: fit-content;
  width: fit-content;
  padding: 10px;
  background-color: rgb(241, 224, 200);
  color: rgb(42, 54, 61);
}

.wpheading:hover {
  cursor: pointer;
}

.makeitsmall {
  font-size: 0;
  z-index: -999;
  height: 0;
  width: 0;
}